@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scroll bar */
html{
    background-color: rgb(220 252 231);;
}
/* Default Vertical Scrollbar */
::-webkit-scrollbar {
    width: 5px; /* Customize the scrollbar width */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f100; /* Customize the scrollbar track */
}

::-webkit-scrollbar-thumb {
    width:3px;
    background-color: rgb(134 239 172); /* Customize the scrollbar thumb */
    border-radius: 10px; /* Optional: Add rounded corners to the thumb */
}

/* Horizontal Scrollbar */
::-webkit-scrollbar-horizontal {
    height: 2px; /* Customize the scrollbar height for horizontal */
}

::-webkit-scrollbar-track-horizontal {
    background-color: rgb(134 239 172); /* Customize the scrollbar track for horizontal */
}

::-webkit-scrollbar-thumb-horizontal {
    background-color: rgb(134 239 172); /* Customize the scrollbar thumb for horizontal */
    border-radius: 1px; /* Optional: Add rounded corners to the thumb */
}

